<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="home-container">
        <div class="home-box">
            <h2>Hello and Welcome to your very own Grievance Portal</h2>
            <p>Now any time you miss me or mad at me you can submit your grievance(s) through this portal</p>
            <p>The admin team will promptly work on it</p>    
            <a href="{{ url_for('login') }}">
                <button>Login</button>
            </a>
        </div>
    </div>
</body>
</html>
